---
const { offre } = Astro.props;
---

<div class="rounded-lg border bg-white p-4">
  <h2 class="font-semibold">{offre.nomMaison}</h2>

  <p class="text-sm text-gray-600">
    {offre.surface} m² • {offre.prix} € / mois
  </p>

  <p class="text-sm text-gray-500">
    {offre.nbChambres} chambres • {offre.nbSdb} sdb
  </p>

  <p class="text-xs text-gray-400 mt-1">
    {offre.adresse}
  </p>
</div>

